@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 768px) {
  .fixed-sidebar {
    position: fixed;
    /* border-top: 1px solid #f1f1f1; */
    padding: 20px;
    bottom: 0;
    left: 0; /* Adjust left position if needed */
    width: 100%; /* Assuming full width */
    background-color: #fff; /* Background color for the sidebar */
    /* Add any other styling as needed */
  }
}
